{% extends "base.html" %}
{% block title %}Lista de Estudiantes del Curso{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Lista de Estudiantes</h1>
    <h4>{{ curso.grado_rel.nombre }} "{{ curso.grado_rel.paralelo }}" - Gestión {{ curso.gestion_rel.anio }}</h4>
</div>
<div class="card">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-light">
                    <tr>
                        <th style="width: 5%;">#</th>
                        <th>Nombre Completo del Estudiante</th>
                        <th>C.I.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for inscripcion in inscripciones %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ inscripcion.estudiante_rel.paterno }} {{ inscripcion.estudiante_rel.materno }} {{ inscripcion.estudiante_rel.nombre }}</td>
                        <td>{{ inscripcion.estudiante_rel.ci }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}